<div class="page-wrapper bg-red p-t-180 p-b-100 font-robo text-center">
    <div class="wrapper wrapper--w960">
        <div class="card mb-3 card-2">
            <div class="row g-0">
                <div class="col-md-3" id="fondo">
                    {{!-- <img src="/img/imagenes/peluqueria3.jpg" class="img-fluid rounded-start" alt="imagen"> --}}
                </div>
                <div class="col-md-9">
                    <div class="card-body">
                        <form action="/payment/savePayment/{{dataCourse._id}}" method="post">
                            <h1 class="title text-center">pagar el curso de {{dataCourse.nombre}}</h1>

                            <div class="row">
                                <div class="col-6" id="containerMeses">
                                    <div class="input-group mb-1" id="containerMes1">
                                        <label class="input-group-text" for="mes1">Mes Nº1</label>
                                        <input type="month" min="{{dataCourse.fechaInicioCurso}}" id="mes1" name="mes1"
                                            max="{{dataCourse.fechaFinCurso}}" class="form-control imput-month"
                                            name="trip-start"
                                            onchange="funValidMonth('{{dataCourse._id}}', '#mes1', '#priceMonth1' )">
                                    </div>
                                </div>
                                <div class="col-6" id="containerPagosMeses">
                                    <div class="input-group mb-1" id="containerPagoNº1" title="">
                                        <label for="pagoAlumno1" class="input-group-text" id="textoMesNº1">
                                            pago Nº1
                                        </label>
                                        <input type="number" class="form-control imput" id="pagoAlumno1"
                                            name="pagoAlumno1">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- muestra el si el mes tiene deuda -->
                            <div class="pb-2 mx-auto justify-content-center input-group" id="debtMonthContainer"></div>
                            {{!--
                            <div id="containerMonthGeneral">
                                <div class="input-group mb-2" id="containerMes1">
                                    <label class="input-group-text" for="mes1">Mes Nº 1 a pagar</label>
                                    <input type="month" id="mes1" name="mes1" min="{{dataCourse.fechaInicioCurso}}"
                                        max="{{dataCourse.fechaFinCurso}}" class="form-control imput-month"
                                        name="trip-start"
                                        onchange="funValidMonth('{{dataCourse._id}}', '#mes1', '#priceMonth1' )">
                                </div>
                            </div> --}}
                            <!-- botones de agregar y eliminar mes y pago -->
                            <div class="mb-2">
                                <button type="button"
                                    onclick="addMonth('{{dataCourse._id}}', '{{dataCourse.duracion}}')"><img
                                        src="/img/icon/plus.png" height="35px"></button>
                                <button type="button" id="deleteMonth"><img src="/img/icon/trash.png"
                                        height="35px"></button>

                            </div>

                            <!-- numero del mes como informacion oculta -->
                            <input type="hidden" name="numerMonth" id="numerMonth" value="{{numerMonth}}">
                            <!-- id del curso como informacion oculta -->
                            <input type="hidden" name="idCourse" id="idCourse" value="{{dataCourse._id}}">



                            <!-- seleccionar alumno que paga -->
                            <div class="">
                                <select class="form-select imput" id="idAlumno" name="idAlumno">
                                    <option selected disabled class="text-center">seleccionar al alumno que pagara
                                    </option>
                                    {{#each alumnList}}
                                    <option value="{{_id}}">{{nombre}} {{apellido}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <!-- impot nombre curso -->
                            <div class="input-group mb-4 pt-4">
                                <label for="comentario" class="input-group-text">Comentarios</label>
                                <input type="text" class="form-control" id="comentario" name="comentario"
                                    placeholder="ingresar el comentario">
                            </div>

                            <!-- boton de enviar datos -->
                            <div class="d-grid pt-4">
                                <button type="submit" class="btn btn-primary">
                                    Guardar Datos
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>