<br><br><br><br><br>
<div class="container col-xxl-8 px-4 py-5 bg-body-tertiary text-dark bg-opacity-50" style="border-radius: 20px">
    <div class="mx-auto">
        <img src="https://i.pinimg.com/550x/e7/5a/1f/e75a1fd28bacbb51e9fdcb046a9e7692.jpg" class="imgNuevoPago">
    </div>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="">
            <form action="/payment/savePayment/{{dataCourse._id}}" method="post" id="formularioAgregarPago">
                <h1 class="title text-center">pagar el curso de {{dataCourse.nombre}}</h1>
                <div class="row">
                    <div class="col-8" id="containerMeses">
                        <div class="input-group mb-1" id="containerMes1" style="border-radius: 50px;">
                            <label class="input-group-text" for="mes1">Mes Nº1</label>

                            <input type="month" min="{{dataCourse.fechaInicioCurso}}" id="mesInput" name="mesInput"
                                max="{{dataCourse.fechaFinCurso}}" class="form-control imput-month" name="trip-start"
                                onchange="funValidMonth()">

                            <button class="btn btn-outline-primary" type="button" id="agregar_lista">
                                <i class="fa fa-plus"></i>
                            </button>
                            <div id="passwordHelpBlock" class="form-text text-danger mx-auto">
                                {{!-- <strong>el mes de .... tiene una deuda de .... $</strong> --}}
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive text-center">
                        <br>
                        <table class="table table-dark table-hover table-bordered text-center">
                            <tr id="trTable">
                                <th id="mesTable">Mes</th>
                                <th id="precioTable">Precio</th>
                                <th id="pagoTable">Pago</th>
                                <th id="saldoTable">Saldo</th>
                                <th id="eliminarTable">Eliminar</th>
                                <th id="HeadDeuda"><strong class="text-danger">Deuda</strong></th>
                                <th id="comentarioTable">Comentario</th>
                            </tr>
                            </thead>
                            <tbody id="tabla"></tbody>
                        </table>
                    </div>


                    <div id="inputsHidden">
                        <!-- numero del mes como informacion oculta -->
                        <input type="hidden" name="numerMonth" id="numerMonth" value="{{numerMonth}}">
                        <!-- id del curso como informacion oculta -->
                        <input type="hidden" name="idCourse" id="idCourse" value="{{dataCourse._id}}">
                    </div>

                    {{!-- <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01" id="idAlumno" name="idAlumno"
                            required>Selecciona el alumno que paga</label>
                        <select class="form-select" id="inputGroupSelect01">
                            {{#each alumnList}}
                            <option value="{{_id}}">{{nombre}} {{apellido}}</option>
                            {{/each}}
                        </select>
                    </div> --}}

                    <div class="d-grid gap-2 mx-auto text-center pt-1" id="saldoFavorTotal">
                        {{!-- <div
                            class="position-relative py-2 px-4 text-bg-secondary border border-secondary rounded-pill">
                            <strong id="saldoFavorAlumno">El saldo a favor del alumno: dsadasdsa es de xxxx $</strong>
                            <svg width="1em" height="1em" viewBox="0 0 16 16"
                                class="position-absolute top-100 start-50 translate-middle mt-1"
                                fill="var(--bs-secondary)" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" type="button" id="usarSaldofavor">usar saldo a
                                favor</button>
                        </div> --}}
                    </div>

                    <!-- seleccionar alumno que paga -->
                    <div class="pt-2">
                        <select class="form-select imput" id="idAlumno" name="idAlumno" required>
                            <option selected disabled class="text-center">seleccionar al alumno que pagara
                            </option>
                            {{#each alumnList}}
                            <option value="{{_id}}">{{nombre}} {{apellido}}</option>
                            {{/each}}
                        </select>
                        <div id="divSaldofavor" class="d-grid gap-2 d-md-flex justify-content-center">
{{!--                             <button id="botonSaldoFavor" class="btn btn-outline-dark" type="button">Calcular Saldo A
                                Favor del
                                alumno</button> --}}
                        </div>
                    </div>



                    <!-- impot comentario pago/s -->
{{!--                     <div class="input-group mb-4 pt-4">
                        <label for="comentario" class="input-group-text">Comentarios</label>
                        <input type="text" class="form-control" id="comentario" name="comentario"
                            placeholder="ingresar el comentario" required>
                    </div> --}}

                    <!-- boton de enviar datos -->
                    <div class="d-grid pt-4">
                        <button type="submit" class="btn btn-primary">
                            Guardar Datos
                        </button>
                    </div>

                    {{!-- <div class="d-grid pt-4">
                        <button type="button" class="btn btn-primary" onclick="calcularSaldoFavor()">
                            calcular saldo favor
                        </button>
                    </div> --}}



                    <div id="hiddenSaldoFavor"></div>


                </div>
            </form>
        </div>
    </div>
</div>
<br><br><br><br><br>

{{!-- <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo text-center">
    <div class="wrapper wrapper--w960">
        <div class="card mb-3 card-2">
            <div class="row">
                <div class="card-body">
                    <form action="#" method="post" id="formularioAgregarPago">
                        <h1 class="title text-center">pagar el curso de {{dataCourse.nombre}}</h1>
                        <div class="row">
                            <div class="col-8" id="containerMeses">
                                <div class="input-group mb-1" id="containerMes1" style="border-radius: 50px;">
                                    <label class="input-group-text" for="mes1">Mes Nº1</label>
                                    <input type="month" min="{{dataCourse.fechaInicioCurso}}" id="mes" name="mes"
                                        max="{{dataCourse.fechaFinCurso}}" class="form-control imput-month"
                                        name="trip-start" onchange="funValidMonth()" required>

                                    <button class="btn btn-outline-primary" type="button" onclick="buscarDatosDB()">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="table-responsive text-center">
                                <br>
                                <table class="table table-dark table-hover table-bordered">
                                    <tr>
                                        <th>Mes</th>
                                        <th>Precio</th>
                                        <th>Pago</th>
                                        <th>Saldo</th>
                                        <th>Eliminar</th>
                                    </tr>
                                    </thead>
                                    <tbody id="tabla"></tbody>
                                </table>
                            </div>

                            <div id="inputsHidden">
                                <!-- numero del mes como informacion oculta -->
                                <input type="hidden" name="numerMonth" id="numerMonth" value="{{numerMonth}}">
                                <!-- id del curso como informacion oculta -->
                                <input type="hidden" name="idCourse" id="idCourse" value="{{dataCourse._id}}">
                            </div>

                            <br>

                            <div class="input-group mb-3">
                                <label class="input-group-text" for="inputGroupSelect01" id="idAlumno" name="idAlumno"
                                    required>Selecciona el alumno que paga</label>
                                <select class="form-select" id="inputGroupSelect01">
                                    {{#each alumnList}}
                                    <option value="{{_id}}">{{nombre}} {{apellido}}</option>
                                    {{/each}}
                                </select>
                            </div>

                            <!-- impot comentario pago/s -->
                            <div class="input-group mb-4 pt-4">
                                <label for="comentario" class="input-group-text">Comentarios</label>
                                <input type="text" class="form-control" id="comentario" name="comentario"
                                    placeholder="ingresar el comentario" required>
                            </div>

                            <!-- boton de enviar datos -->
                            <div class="d-grid pt-4">
                                <button type="submit" class="btn btn-primary">
                                    Guardar Datos
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> --}}