<div class="container text-center" style="padding-top: 30px;">
    {{#if arrayData}}
    <div class="row">
        <div class="table-responsive-md text-center">
            <br>
            <table class="table table-dark table-hover">
                <tr>
                    <th>Curso</th>
                    <th>Alumno </th>
                    <th>Pago del alumno</th>
                    <th>Comentario del pago</th>
                    <th>Mes Pagado</th>
                    <th>Fecha de emicion</th>
                </tr>
                </thead>
                <tbody id="tabla">
                    {{#each arrayData}}
                    <tr>
                        <td class="table-info">{{nombreCurso}}</td>
                        <td class="table-info">{{nombreAlumno}}</td>
                        <td class="table-info">{{pagoAlumno}}$</td>
                        <td class="table-info">{{comentarioPago}}</td>
                        <td class="table-info">{{nombreMes}}</td>
                        <td class="table-info">{{fechaCreacion}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{else}}
    <div class="py-2 col-3 mx-auto">
        <div class="rounded-3 shadow bg-danger">
            <div class="modal-body p-4 text-center ">
                <h5 class="mb-0 text-white card-title">
                    <strong>ERROR</strong>
                    <hr>
                    <strong>No hay datos de pagos que mostrar</strong>
                    <br><br>
                    <a href="/payment/selectCourseAddPay" class="btn btn-success btn-block">ingresar pagos</a>
                </h5>
            </div>
        </div>
    </div>
    {{/if}}
</div>