{{#each errors}}
<br>
<div class="text-white bg-danger mb-3 mx-auto text-center" style="max-width: 20rem;">
  <div class="card-header">error!</div>
  <div class="card-body">
    <img src="/img/icon/warning.png" alt="" height="40">
    {{text}}
    <img src="/img/icon/warning.png" alt="" height="40">
    <a href="" class="btn btn-success btn-block ">ingresar datos</a>
  </div>
</div>
{{else}}
<div class="row text-center">
  {{#if dataCourse}}
  <h1 class="title text-secundary">Precios del curso de {{dataCourse.nombre}}</h1>
  {{/if}}
  {{#each dataPC}}
  <div class="py-2 col-3 mx-auto ">
    <div class="rounded-3 shadow bg-success">
      <div class="modal-body p-4 text-center ">
        <h5 class="mb-0 text-white">
          <strong>Mes: {{mes}}</strong>
          <br>
          <strong>precio del Mes: {{precioMes}}</strong>
        </h5>

      </div>
      <div class="modal-footer flex-nowrap p-2">
        <form action="/course/editPriceCourse/{{_id}}?_method=GET" method="POST">
          <input type="hidden" name="_method" value="GET">
          <input type="hidden" name="curso" id="curso" value="{{nameCourse}}">
          <button type="submit" class="btn btn-outline-info">
            Editar<img src="/img/icon/edit.png" alt="" height="40">
          </button>
        </form>
        <form action="/course/deletePriceCourse/{{_id}}?_method=GET" method="post">
          <input type="hidden" name="_method" value="GET">
          <button class="btn  btn-outline-danger   " type="submit">
            Eliminar<img src="/img/icon/trash.png" alt="" height="40">
          </button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}




  {{!--
  {{#each priceCourse}}
  <div class="py-2 col-3 mx-auto ">
    <div class="rounded-3 shadow bg-success">
      <div class="modal-body p-4 text-center ">
        <h5 class="mb-0 text-white">
          <strong>Mes: {{mes}}</strong>
          <br>
          <strong>precio del Mes: {{precioMes}}</strong>
          <p>id del curso {{idPC}}</p>
          <p>mes del curso: {{mesPC}}</p>
        </h5>

      </div>
      <div class="modal-footer flex-nowrap p-2">
        <form action="/course/editPriceCourse/{{_id}}?_method=GET" method="POST">
          <input type="hidden" name="_method" value="GET">
          <input type="hidden" name="curso" id="curso" value="{{nameCourse}}">
          <button type="submit" class="btn btn-outline-info">
            Editar<img src="/img/icon/edit.png" alt="" height="40">
          </button>
        </form>
        <br>
        <br>
        <br>
        <!--

        <form action="/course/saveDeleteCourse/{{_id}}?_method=put" method="post">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="curso" id="curso" value="{{nameCourse}}">
          <button class="btn  btn-outline-danger   " type="submit">
            Eliminar<img src="/img/icon/trash.png" alt="" height="40">
          </button>
        </form>
        -->
      </div>
    </div>
  </div>
  {{/each}} --}}
</div>
{{/each}}