{{#each errors}}
<br>
<div class="text-white bg-danger mb-3 mx-auto text-center" style="max-width: 18rem;">
    <div class="card-header">error!</div>
    <div class="card-body">
        <img src="/img/icon/warning.png" alt="" height="40">
        {{text}}
        <img src="/img/icon/warning.png" alt="" height="40">
        <br>
        <a href="/" class="btn btn-success btn-block ">volver al menu</a>
    </div>
</div>
{{else}}

<div class="row text-center">
    {{#if dataPC}}
    <h1 class="title text-secundary">Precios del curso de {{dataPC.[0].nombreCurso}}</h1>
    {{/if}}
    {{#each dataPC}}
    <div class="py-2 col-3 mx-auto ">
        <div class="rounded-3 shadow bg-success">
            <div class="modal-body p-4 text-center ">
                <h5 class="mb-0 text-white">
                    <strong>Mes: {{mes}}</strong>
                    <br>
                    <strong>precio del Mes: {{precioMes}}</strong>
                </h5>
            </div>
            <div class="modal-footer ">
                <div class="flex-nowrap p-2 mx-auto text-center">
                    <form action="/course/saveUpPriceCourse/{{_id}}?_method=put" method="POST">
                        <div class="p-2 mx-auto text-center d-grid gap-2">
                            <input type="hidden" name="_method" value="put">
                            <button type="submit" class="btn btn-secondary btn-lg">
                                <img src="/img/icon/data-recovery 2.png" alt="" height="40"> Restaurar
                                <img src="/img/icon/file.png" alt="" height="40">
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/each}}