{{!-- <div class="row text-center">
    {{#if dataCourse}}
    <h1 class="title text-secundary">Precios del curso de {{dataCourse.nombre}}</h1>
    {{/if}}
    {{#each dataPriceCourse}}
    <div class="py-2 col-3 mx-auto">
        <div class="rounded-3 shadow bg-success">
            <div class="modal-body p-4 text-center ">
                <h5 class="mb-0 text-white card-title">
                    <strong>Mes: {{mes}}</strong>
                    <hr>
                    <strong>precio del Mes: ${{precioMes}}</strong>
                </h5>
            </div>
        </div>
    </div>
    {{else}}

    <div class="text-white bg-danger mb-3 mx-auto text-center" style="max-width: 20rem;">
        <div class="card-header">error!</div>
        <div class="card-body">
            <img src="/img/icon/warning.png" alt="" height="40">
            no hay datos para mostrar
            <img src="/img/icon/warning.png" alt="" height="40">
            <a href="" class="btn btn-success btn-block ">ingresar datos</a>
        </div>
    </div>
    {{/each}}
</div> --}}
<div class="container text-center" style="padding-top: 30px;">
    {{#if dataPriceCourse}}
    <div class="row">
        <div class="table-responsive-md text-center">
            <br>
            <table class="table table-dark table-hover">
                <tr>
                    <th>Mes</th>
                    <th>Precio</th>
                    <th>Editar</th>
                </tr>
                </thead>
                <tbody id="tabla">
                    {{#each dataPriceCourse}}
                    <tr>
                        <td class="table-dark">{{mes}}</td>
                        <td class="table-info">${{precioMes}}</td>
                        <td class="table-info">
                            <form action="/course/editPriceCourse/{{_id}}?_method=GET" method="POST">
                                <input type="hidden" name="_method" value="GET">
                                <button type="submit" class="btn btn-outline-success">
                                    <img src="/img/icon/edit.png" alt="" height="40">
                                </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{else}}
    <div class="py-2 col-3 mx-auto">
        <div class="rounded-3 shadow bg-danger">
            <div class="modal-body p-4 text-center ">
                <h5 class="mb-0 text-white card-title">
                    <strong>ERROR</strong>
                    <hr>
                    <strong>No hay datos que mostrar</strong>
                    <br><br>
                    <a href="" class="btn btn-success btn-block">ingresar datos</a>
                </h5>
            </div>
        </div>
    </div>
    {{/if}}
</div>