{{#each errors}}
<br>
<div class="text-white bg-danger mb-3 mx-auto text-center" style="max-width: 20rem;">
  <div class="card-header">error!</div>
  <div class="card-body">
    <img src="/img/icon/warning.png" alt="" height="40">
    {{text}}
    <img src="/img/icon/warning.png" alt="" height="40">
    <a href="/course/addCourse" class="btn btn-success btn-block ">ingresar datos</a>
  </div>
</div>
{{else}}
<div class="row">
  {{#each cursos}}
  <div class="py-2 col-3 mx-auto ">
    <div class="rounded-3 shadow bg-success">
      <div class="modal-body p-4 text-center ">
        <h5 class="mb-0 text-white">
          <strong>{{nombre}}</strong>
        </h5>
      </div>
      <div class="modal-footer flex-nowrap p-2">
        <form action="/course/editCourse/{{_id}}?_method=GET" method="POST">
          <input type="hidden" name="_method" value="GET">
          <button type="submit" class="btn btn-outline-info">
            Editar<img src="/img/icon/edit.png" alt="" height="40">
          </button>
        </form>
        <form action="/course/saveDeleteCourse/{{_id}}?_method=put" method="post">
          <input type="hidden" name="_method" value="put">
          <button class="btn  btn-outline-danger   " type="submit">
            Eliminar<img src="/img/icon/trash.png" alt="" height="40">
          </button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}