<div class="container text-center" style="padding-top: 30px;">
  {{#if cursos}}
  <div class="row">
    <div class="table-responsive-md text-center">
      <br>
      <table class="table table-dark table-hover">
        <tr>
          <th>Nombre del curso</th>
          <th>duracion</th>
          <th>fecha incio</th>
          <th>fecha fin</th>
          <th>Editar</th>
        </tr>
        </thead>
        <tbody id="tabla">

          {{#each cursos}}
          <tr>
            <td class="table-dark">{{nombre}}</td>
            <td class="table-info">{{duracion}} meses</td>
            <td class="table-info">{{fechaInicioCurso}}</td>
            <td class="table-info">{{fechaFinCurso}}</td>
            <td class="table-info">
              <form action="/course/editCourse/{{_id}}?_method=GET" method="POST">
                <input type="hidden" name="_method" value="GET">
                <button type="submit" class="btn btn-outline-success">
                  <img src="/img/icon/edit.png" alt="" height="40">
                </button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{else}}
  <div class="py-2 col-xl-3 col-lg-5 col-md-6 col-sm-7 mx-auto">
    <div class="rounded-3 shadow bg-danger">
      <div class="modal-body p-4 text-center ">
        <h5 class="mb-0 text-white card-title">
          <strong>ERROR</strong>
          <hr>
          <strong>No existe ningun curso guardado en base de datos</strong>
          <br><br>
          <a href="/course/addCourse" class="btn btn-success btn-block">agregar nuevo curso</a>
        </h5>
      </div>
    </div>
  </div>
  {{/if}}
</div>