<div class="container text-center" style="padding-top: 30px;">
  {{#if dataAlumn}}
  <div class="row">
    <div class="table-responsive-md text-center">
      <br><br>
      <table class="table table-dark table-hover">
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>DNI</th>
          <th>Curso</th>
          <th>Editar</th>
        </tr>
        </thead>
        <tbody id="tabla">
          {{#each dataAlumn}}
          <tr>
            <td class="table-info">{{nombreAlumno}}</td>
            <td class="table-info">{{apellidoAlumno}}</td>
            <td class="table-info">{{dniAlumno}}</td>
            <td class="table-info">{{nombreCurso}}</td>
            <td class="table-info">
              <form action="/alumn/editAlumn/{{IdMovAlumn}}?_method=GET" method="POST">
                <input type="hidden" name="_method" value="GET">
                <input type="hidden" name="formularioAction" id="formularioAction" value="showAllAlumn">
                <button type="submit" class="btn btn-outline-success">
                  <img src="/img/icon/edit.png" alt="" height="40">
                </button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
  {{else}}
  <div class="py-2 col-xl-3 col-lg-5 col-md-6 col-sm-7 mx-auto">
    <div class="rounded-3 shadow bg-danger">
      <div class="modal-body p-4 text-center ">
        <h5 class="mb-0 text-white card-title">
          <strong>ERROR</strong>
          <hr>
          <strong>No existe ningun alumno guardado en base de datos</strong>
          <br><br>
          <a href="/alumn/addAlumn" class="btn btn-success btn-block">agregar nuevo alumno</a>
        </h5>
      </div>
    </div>
  </div>
  {{/if}}
</div>